@font-face {
    font-family: 'Pokemon';
    src: url('../font/Pokemon\ Solid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'Pokemon', Times, sans-serif;
}

body {
    background-image: url('../img/fundo-site.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100em;
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 50px;
}

.cabecalho-titulo {
    color: #f1ecff;
}

.cabecalho-img {
    width: 40px;
    height: 40px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin: 60px 0;
}

.main-list {
    width: 310px;
    height: 520px;
    position: relative;
    padding: 12px;
}

.main-btn {
    opacity: 0;
}

.main-btn-ativo {
    border-radius: 50px;
    border: 0;
    width: 70px;
    height: 70px;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease-in-out;
    opacity: 1;
}

.main-btn-voltar {
    transform: rotateY(180deg);
}





.main-btn:hover {
    background-color: #8351FE;
}

.cartao {
    opacity: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    padding: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: opacity 0.3s ease-in-out;
    border-radius: 15px;
}

.cartao.selecionado {
    opacity: 1;
    z-index: 1;
}

.cartao-fundo1 {
    background-image: url('../img/fundo-card-1.jpg');
    background-repeat: no-repeat;
}

.cartao-fundo2 {
    background-image: url('../img/fundo-card-2.jpg');
    background-repeat: no-repeat;
}

.cartao-fundo3 {
    background-image: url('../img/fundo-card-3.jpg');
    background-repeat: no-repeat;
}

.main-list-info {
    background-color: rgba(179, 177, 185, 0.7);
    border-radius: 15px 15px 0px 0px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
}

.main-list-info-name {
    color: #fff;
    font-size: 22px;
}

.main-list-info-hp {
    background-color: #333;
    color: #F1ECFF;
    padding: 6px 10px;
    border-radius: 20px;
}

.main-list-container {
    text-align: center;
}

.main-list-container-img {
    max-width: 100%;
    max-height: 280px;
    padding: 20px;
}

.main-list-descricao {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0px 0px 10px 10px;
}

.main-list-descricao-titulo {
    color: #F1ECFF;
    background-color: #333;
    font-size: 15px;
    padding: 12px;
}

.main-list-descricao-texto {
    font-size: 14px;
    padding: 12px;
    text-align: justify;
    max-height: 115px;
    overflow-y: auto;
}